<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>log in</title>
        <link rel="stylesheet" href="game.css">
        <link rel="stylesheet" href="nav.css">
    </head>
    <body>
        <script src="validation.js"></script>
        <div class="navbar">
            <div class="logo"><img src="logo.png" alt="logo"></div>
            <ul class="nav-links">
                <li><a href="index.html">Play</a></li>
                <li><a href="bot.html">Bot</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="signup.html" class="signup">Sign Up/In</a></li>
            </ul>
        </div>

        <div class="chessGame"></div>
        <div class="playerInfo">
            <div class="userName">Morgan</div>
            <div class="country">Egypt</div>
        </div>
        <div class="playerInfo">
            <div class="userName">Morgan</div>
            <div class="country">Egypt</div>
        </div>
    </body>
</html>
