<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/tab.css">
</head>
<body>
    <header class="navbar">
        <div class="logo"></div>
        <ul class="nav-links">
        <li><a href="/play">Play</a></li>
        <li><a href="/bot">Bot</a></li>
        <li><a href="/about">About</a></li>
        <% if(locals.user){ %>
            <li class="logout big"><%= user %></li>
        <% } else{ %>  
            <li><a href="/signup" class="signup">Sign Up/In</a></li>
        <% } %>

        </ul>
    </header>
    <div class="table-container">
        <h2 class="table-header">Lobby</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Creator</th>
                <th>Color</th>
                <th>P</th>
                <th><button class="create-button">Create new game   </button></th>
            </tr>
            <tr>
                <td>1</td>
                <td>Morgan</td>
                <td>White</td>
                <td>no</td>
                <td><button>Join</button></td>
            </tr>
            
        </table>
    </div>
    <div id="popup" style="display: none;">
        <h2>Create</h2>
        <div id="color-container">
            <label for="color-white"><span class="color-option">White</span></label>
            <label for="color-black">
                <span class="color-option black">Black</span>
            </label>
            <label for="color-random">
                <span class="color-option random">Random</span> 
            </label>
        </div>
        <input type="radio" id="color-white" name="color" value="white" style="display: none;"> 
        <input type="radio" id="color-black" name="color" value="black" style="display: none;"> 
        <input type="radio" id="color-random" name="color" value="random" style="display: none;"> 
        <label for="private">Private:</label>
        <input type="checkbox" id="private">
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Custom text">
        <button>Create</button>
    </div>
    <script src="/js/pop.js"></script>
    <script src="/js/logout.js"></script>
</body>
</html>
