<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/nav.css">
    </head>
    <body>
        <script src="validation.js"></script>
        <div class="navbar">
            <div class="logo"></div>
            <ul class="nav-links">
                <li><a href="index.html">Play</a></li>
                <li><a href="bot.html">Bot</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="signup.html" class="signup">Sign Up/In</a></li>
            </ul>
        </div>

        <div class="signup-container">
            <div class="signup-form">
                <h1 class="heading">Registration Form</h1>
                <form action="/auth/register" method="POST">
                    <div class="form-row w-50" >
                        <label for="first-name">First Name</label>
                        <input type="text" id="first-name" placeholder="Custume text" name="fname">
                    </div>
                    <div class="form-row w-50">
                        <label for="last-name">Last Name</label>
                        <input type="text" id="last-name" placeholder="Custume text" name="lname">
                    </div>
                    <div class="form-row w-100">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" placeholder="Custume text" name="email">
                    </div>
                    <div class="form-row w-100">
                        <label for="username">User Name</label>
                        <input type="text" id="username" placeholder="Custume text" name="username">
                    </div>
                    <div class="form-row w-100">
                        <label for="dob">Date of Birth</label>
                        <input type="date" id="dob" name="dob">
                    </div>
                    <div class="form-row w-50">
                        <label for="country">Country</label>
                        <input type="country" id="country" placeholder="Custume text" name="country">
                    </div>
                    <div class="form-row w-50">
                        <label for="gender">Gender</label>
                        <input type="text" id="gender" placeholder="Custume text" name="gender">
                    </div>
                    <div class="form-row w-100">
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="Custume text" name="password">
                    </div>
                    <div class="form-row w-100">
                        <label for="re-password">Re-enter Password</label>
                        <input type="password" id="re-password" placeholder="Custume text" name="rpassword">
                    </div>
                    <button type="submit">Sign Up</button>
                    <p>if you already have an account please press<a href="/login" class="login"> here</a></p>
                </form>
            </div>

            <hr />

            <div class="signup-image">
                    <img src="/images/queen.jpeg" alt="Chess Queen">
            </div>
            </div>
        </div>
    </body>
</html>
