<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="navbar">
    <div class="logo">K CHESS</div>
    <ul class="nav-links">
      <li><a href="/">Play</a></li>
      <li><a href="bot.html">Bot</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="signup.html" class="signup">Sign Up/In</a></li>
    </ul>
  </div>

  <div class="signup-container">
    <div class="signup-form">
      <h1>Registration Form</h1>
      <form>
        <div class="form-row">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" placeholder="Custom text">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" placeholder="Custom text">
        </div>

        <label for="email">Email Address</label>
        <input type="email" id="email" placeholder="Custom text">

        <label for="username">User Name</label>
        <input type="text" id="username" placeholder="Custom text">

        <label for="dob">Date of Birth</label>
        <input type="date" id="dob">

        <div class="form-row">
          <label for="country">Country</label>
          <input type="text" id="country" placeholder="List here">
          <label for="gender">Gender</label>
          <input type="text" id="gender" placeholder="List here">
        </div>

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Custom text">

        <label for="re-password">Re-enter Password</label>
        <input type="password" id="re-password" placeholder="Custom text">

        <button type="submit">Sign Up</button>
      </form>
    </div>
    <div class="signup-image">
      <img src="assets/queen.jpeg" alt="Chess Queen">
    </div>
  </div>
</body>
</html>
