.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    position: sticky;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
  }
  
  .logo{
    width: 150px;
    height: 35px;
    background-image: url('/images/logok.png');
    background-size: cover;
  }

  .big{
    font-size: larger;
    font-weight: 900;
  }

