*{
    font-family: 'Inter','Roboto', sans-serif;
}

.profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 1px solid #000;
}

.section1 {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 251px;
    padding: 10px;
    margin-right: auto;
}


.section1:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: black;
    margin-left: 10px;
}

.UserCountry {
    width: 300px;
    height: 30px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

hr{
    display: flex;
    color: #000;
    width: 1px;
    height: 7vh;
    margin-left: 35px;
}

.FirstLastName{
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 10px;
}

.Bio{
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 10px;
}
