*{
  font-family: 'Inter','Roboto', sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}


.heading{
  font-size: 36px;
}

.signup-container{
  display: flex;
  align-items: center;
}

.form-row{
  flex: 0 0 auto;
  margin-bottom: 5px;
}

.form-row > label{
  display: block;
  font-weight: bold;
  font-size: 15px;
  /* margin-bottom: 5px; */
}

.form-row > input{
  padding: 5px;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #000;
  /* margin-top: 6px; */
  font-size: 15px;
  outline: none;
  /* padding-right: 50%; */
}

.form-row.w-50{
  width: calc(50% - 10px);
}
.form-row.w-100{
  width: 100%;
}

.signup-form{
  width: 50%;
  padding-left: 109px;
  padding-right: 109px;
}

.signup-form form{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

p{
  margin-top: -11px;
  font-size: 14px;
}

.login {
  color: #0e0e0f;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Inter', 'Roboto', sans-serif;
  cursor: pointer;
  margin-top: -13px;
}

.login:hover {
  text-decoration: underline;
  color: #0056b3;
}

.login:focus {
  outline: none;
  color: #003f7f;
}

hr{
  display: block;
  color: #000;
  width: 1px;
  height: 70vh;
}

.signup-image{
  display: flex;
  width: 50%;
  height: calc(100vh - 75px);
  justify-content: center;
  align-items: end;
}

.signup-image img{
  max-width: 100%;
  height: 100%;
}

.signup-form button {
  padding: 10px 20px;
  width: 100%;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  margin-top: -13px;
}
